
<div id="wrapper">
     <!-- Sidebar -->
     <app-sidebar></app-sidebar>
     <!-- End of Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->

            <div class="container-fluid">
                <div class="row mat-elevation-z8">
                    <div class="card col-lg-12 pl-0 pr-0">
                        <div class="card-header card-header-c">
                            <div>Customer Sales</div>
                        </div>
                        <form [formGroup]="customerSalesForm" #customerSales="ngForm" class="user p-5" 
                               #formDirective="ngForm">
                            <div class="form-group row">
                                <div class="col-md-8 mb-3 mb-sm-0">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer Name</mat-label>
                                        <input matInput aria-label="Customer Name" formControlName="customerName"  id="txtCustomerName" >

                                        <mat-error *ngIf="valid.customerName.errors?.required">
                                            <span class="text-danger">Enter customer name</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Mobile Number</mat-label>
                                        <!-- <input matInput type="text" aria-label="Mobile Number" formControlName="mobileNumber" ng-model="mobileNumberDigit" pattern="[0-9]*" maxlength="10"> -->
                                        <input matInput type="number" aria-label="Mobile Number" formControlName="mobileNumber" onKeyPress="if(this.value.length==10) return false;"  />
                                        <mat-error class="text-danger" *ngIf="valid.mobileNumber.errors?.required">
                                            Enter mobile name
                                        </mat-error>
                                        <mat-error class="text-danger" *ngIf="valid.mobileNumber.errors?.pattern">
                                            Enter 10 digit mobile number
                                        </mat-error>
                                        
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <input matInput aria-label="Address" formControlName="customerAddress">

                                    <mat-error class="text-danger" *ngIf="valid.customerAddress.errors?.required">
                                        Enter customer address
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Sales Person</mat-label>
                                        <mat-select formControlName="salesPersonId">
                                            <mat-option *ngFor="let salesPerson of salesPersonList" [value]="salesPerson.id"> {{salesPerson.name}}</mat-option>
                                        </mat-select>
                                        <mat-error class="text-danger" *ngIf="valid.salesPersonId.errors?.required">
                                            Select Sales person
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Time of visit</mat-label>
                                        <input matInput [ngxMatTimepicker]="picker" [format]="12"  placeholder="05:00" formControlName="timeOfVisit">  
                                        <ngx-mat-timepicker #picker></ngx-mat-timepicker>  

                                        <mat-error class="text-danger" *ngIf="valid.timeOfVisit.errors?.required">
                                            Enter time of visit
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                     <mat-form-field class="example-full-width">
                                        <mat-label>Duration Of Sale</mat-label>
                                        <mat-select formControlName="durationOfSaleId">
                                          <mat-option *ngFor="let durations of durationList" [value]="durations.id">{{durations.duration}}</mat-option>
                                        </mat-select>
                                        <mat-error class="text-danger" *ngIf="valid.durationOfSaleId.errors?.required">
                                            Select duration of sale
                                        </mat-error>
                                      </mat-form-field>
                                </div>
                            </div>

                            
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Product</mat-label>
                                        <mat-select formControlName="productId"  >
                                          <mat-option *ngFor="let productNames of productNameList" [value]="productNames.id">{{productNames.productName}}</mat-option>
                                        </mat-select>
                                        <mat-error class="text-danger" *ngIf="valid.productId.errors?.required">
                                            Select Product
                                        </mat-error>
                                      </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Remark</mat-label>
                                        <input matInput aria-label="Remark" formControlName="remark">
                                    </mat-form-field>
                                </div> 
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer Visit Comment</mat-label>
                                        <input matInput aria-label="Customer Visit Comment" formControlName="comment">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field  class="example-full-width">
                                        <mat-label >Select Quotation</mat-label>
                                        <input matInput aria-label="Select Quatation"  formControlName="selectedFileName" readonly>
                                        <!-- {{selectedFile?.name}} -->

                                        
                                        <button type="button" mat-raised-button class="button_bg" matSuffix  (click)="fileInput.click()">
                                            <i class="fa fa-file"></i>                                        
                                        </button>
                                        <input hidden  (change)="onFileSelected($event)" #fileInput type="file" accept="application/pdf">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row justify-content-md-center pt-4">
                                <div class="col-md-2 mb-3 mb-md-0">
                                    <button class="btn btn-primary btn-user btn-block" type="button" 
                                    [disabled]="!customerSales.valid" id="btnSave" (click)="addCustomerSales(customerSales.value)">Save</button>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn btn-primary btn-user btn-block" id="btnCancel" (click)="resetForm()">Cancel</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
          </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>

     </div>
</div>

 