<h2 mat-dialog-title class="modalPopupTitle">{{dialogTitle}}</h2>
<mat-dialog-content>
  {{confirmMessage}}
</mat-dialog-content>

<mat-dialog-actions class="justify-content-end">
  <!-- cdkFocusInitial -->
  <button type="button" mat-dialog-close="Yes"  class="btn btn-primary btn-user btn-block col-md-2" >Yes</button>
  <button type="button" mat-dialog-close="No" class="btn btn-primary btn-user btn-block col-md-2" style="margin-left: 5px; margin-bottom: 8px;">No</button>
</mat-dialog-actions>

