<!-- <button type="button" class="btn btn-primary btn-user btn-block col-sm-2" data-toggle="modal" data-target="#salesModal" (click)="openSalesModal(1)">Open</button> -->

<!-- Modal -->
<div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false" [ngStyle]="{'display':salesDisplay}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header card-header-c">
        <h5 class="modal-title" id="exampleModalLabel">Customer Sales Reminder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerSalesForm" #customerService="ngForm" class="user p-3" 
           #formDirective="ngForm">
        <div class="form-group row">
            <div class="col-md-8 mb-3 mb-sm-0">
                
                  <mat-form-field class="example-full-width">
                    <mat-label>Customer Name</mat-label>
                    <input matInput aria-label="Customer Name" formControlName="customerName"  id="txtCustomerName" readonly>                                 
                  </mat-form-field>                                    
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="number" aria-label="Mobile Number" formControlName="mobileNumber" readonly> 
                </mat-form-field>
                
            </div>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput aria-label="Address" formControlName="customerAddress" readonly> 
            </mat-form-field>
           
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Sales Person</mat-label>
                    <input matInput aria-label="Sales Person" formControlName="salesPerson"  id="txtsalesPerson" readonly>   
                </mat-form-field>
            
            </div>
            
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Time of visit</mat-label>
                    <input matInput aria-label="Time of visit" formControlName="timeOfVisit" readonly>  
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Duration Of Sale</mat-label>
                    <input matInput aria-label="Duration Of Sale" formControlName="durationOfSale" readonly>  
                  </mat-form-field> 
            </div>
        </div>

        <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Reminder Date</mat-label>
                    <input matInput aria-label="Reminder Date" formControlName="reminderDate" readonly> 
                </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <mat-label>Product</mat-label>
                    <input matInput aria-label="Product" formControlName="product" readonly>
                  </mat-form-field>
                
            </div>

            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <mat-label>Remark</mat-label>
                    <input matInput aria-label="Remark" formControlName="remark" readonly>
                </mat-form-field>
               
            </div>
            
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput aria-label="Comment" formControlName="comment" readonly> 
                  </mat-form-field>
            </div>
        </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-user btn-block col-sm-2 mt-2"  [disabled]="!isNoted" (click)="deactivateReminder()">Noted</button>
        <button type="button" class="btn btn-primary btn-user btn-block col-sm-2" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>
